html, body {
    margin: 0px;
    height: 100%
}
.beginScreen {
    position: absolute;
    padding: 20px;
    font-size: large;
    background-color:slategray;
    top: 40%;
    left: 40%;
}
.canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #191970;
}